extends layouts/_layout.pug

block title
  title 2016/12/07-14

block content
    -
      var headerInfo = {
          color: "teal lighten-2",
          fix: true
      }
    include common/_header.pug

    -
      var articleInfo = {
        title: 'jQueryを使ってみよう①',date: '2016/12/07,14',
      }
    include common/_article.pug

    main.container
      ul.collection.with-header.collapsible(data-collapsible="expandable")
        li.collection-header
          div: h4 Links
          div tags: 
              span.chip jQuery
              span.chip Ajax
              span.chip Node.js
              span.chip Express
          //- img.(src="app/assets/images/cap20161207_300x200.png")
        li.collection-item
          i.material-icons.left code
          span Github
          a(href="https://github.com/codefont/sample_jquery" target="_blank" class="secondary-content"): i.material-icons.red-text.accent-2-text link
        li.collection-item.grey-text.darken-1-text
          //- img(src='app/assets/images/cap20161207_300x200.png')
          - var msg = 'jQueryの使い方を解説。初回は基本的な使い方(ID/ClassセレクタとjQueryの導入手順) 二回目はローカルサーバーを使ってAjaxとはなにか？使い方と使いどころについて解説しました。実際に使ってみたい方はGithubのREADMEを確認してください。'
          div!=msg
    
    include common/_footer.pug