extends layouts/_layout.pug

block title
  title 2017/02/08

block content
    -
      var headerInfo = {
          color: "teal lighten-2",
          fix: true
      }
    include common/_header.pug

    -
      var articleInfo = {
        title: 'inHouseUseの作り方',date: '2017/02/08', image: 'cap20170208_300x200.png', comment: '今まで紹介した技術要素の使いどころを紹介', url: './20170208.html'
      }
    include common/_article.pug    

    main.container
      ul.collection.with-header.collapsible(data-collapsible="expandable")
        li.collection-header
          div: h4 Links
          div tags: 
              span.chip jQuery
              span.chip ES2016
              span.chip Sass
              span.chip CSS3
              span.chip animation
              span.chip Responsible
        li.collection-item
          i.material-icons.left home
          span InHouseUse
          a(href="https://inhouseuse.github.io/" target="_blank" class="secondary-content"): i.material-icons.red-text.accent-2-text link
        li.collection-item.grey-text.darken-1-text
          -
            var msg = 
            `社内向け勉強会用のポータルサイト<a href="https://inhouseuse.github.io/" target="_blank">InHouseUse</a>の作り方について紹介します。
            今まで紹介してきた技術要素を実際に使って作っていますので、ソースとセットでご覧ください。
            `
          div.description!=msg          
        li.collection-item
          i.material-icons.left code
          span Github
          a(href="https://github.com/inhouseuse/inhouseuse.github.io/" target="_blank" class="secondary-content"): i.material-icons.red-text.accent-2-text link
        li.collection-item.grey-text.darken-1-text
          - var msg = '<a href="https://github.com/inhouseuse/inhouseuse.github.io/" target="_blank">Github</a>このWebサイトのソースコードを管理しています。「バグを見つけたので直したい！」とか「もっとこうしたら良くなるとか」とかあればGithubで<a href="https://github.com/inhouseuse/inhouseuse.github.io/issues" target="_blank">ISUUE</a>を立てていただけると嬉しいです。'
          div.description!=msg
          
    include common/_modallink.pug
    include common/_footer.pug