extends layouts/_layout.pug

block title
  title InHouseUse

block content

    //- include common/_load.pug
    include common/_landingpage
    include common/_archive
    include common/_modallink.pug
    include common/_footer.pug