.arrow_down {
   animation-name: arrowdown;
   animation-duration: 1.5s;
   animation-timing-function: linear;
   animation-delay: 3s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: forwards;
   animation-play-state: running;
}

@keyframes arrowdown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0px);        
    }

    100% {        
        transform: translateY(60px);
    }
}