footer
    .footer
        .container.footer-main
            ul.footer-links
                li.footer-item: a.footer__links-trigger(href="./", target="_blank"): i.fa.fa-home
                li.footer-item: a.footer__links-trigger(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-github
                li.footer-item: a.footer__links-trigger(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-envelope-o
            .footer__copyright inHouseUse Copyright 2017
