header
    .container
        nav
            ul.headerNav#js_headerNav
                li: a.headerNav__anchor(href="./", target="_blank")
                    span.headerNav__image#js_headerNav__image
                    span.headerNav__logo InHouseUse
                li: a.headerNav__anchor--link(href="./", target="_blank"): i.fa.fa-home  Home
                li: a.headerNav__anchor--link(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-github  Github
                li: a.headerNav__anchor--link(href="https://speakerdeck.com/undefined_name", target="_blank"): i.fa.fa-slideshare  SpeakerDeck
                li: a.headerNav__anchor--link(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-envelope-o  Contact