header
    .container
        nav
            ul.headerNav
                li: a(link="https://github.com/inhouseuse") InHouseUse
                li: a(link="https://github.com/inhouseuse"): i.fa.fa-home Home
                li: a(link="https://github.com/inhouseuse"): i.fa.fa-home Github
                li: a(link="https://github.com/inhouseuse"): i.fa.fa-home SpeakerDeck
                li: a(link="https://github.com/inhouseuse"): i.fa.fa-home Contact