section.modallink.display_none#js-modallink
    ul.modallink-list
        li: a.modallink__anchor(href="./", target="_blank"): i.fa.fa-home  Home
        li: a.modallink__anchor(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-github  Github
        li: a.modallink__anchor(href="https://speakerdeck.com/undefined_name", target="_blank"): i.fa.fa-slideshare  SpeakerDeck
        li: a.modallink__anchor(href="https://github.com/inhouseuse", target="_blank"): i.fa.fa-envelope-o  Contact
        li: a.modallink__anchor.js_toggleModalLink: i.fa.fa-times