doctype html
html(lang="ja")
include common/_html_head.pug
body
    include common/_header_black.pug
    section.archivepage.js_page
        .container
            h2.page-title 2017-12-07 Contents
            //- githubのリンク
            h3.archive__link
                a.archive__anchor(href="https://github.com/codefont/sample_jquery", target="_blank")
                    i.fa.fa-github-alt(aria-hidden="true")  Github
            //- Speakerdeckのリンク
            //- h3.archive__link
            //-     a.archive__anchor(href="https://speakerdeck.com/undefined_name/mang-siiren-falsetamefalsehurontoentokai-fa-huan-jing-rainnatuhu?slide=1", target="_blank")
            //-         i.fa.fa-external-link(aria-hidden="true")  Slide
            //- .slide
            //-     script(async class="speakerdeck-embed" data-slide="1" data-id="f505abf9136149d6bfc45be0d9fbbad4" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js")

    include common/_javascript.pug