doctype html
html(lang="ja")
include common/_html_head.pug
body
    include common/_header_black.pug
    section.archivepage.js_page
        .container
            h2.page-title 2017-01-18 Contents
            //- githubのリンク
            //- h3.archive__link
            //-     a.archive__anchor(href="https://github.com/codefont/sample_jquery", target="_blank")
            //-         i.fa.fa-github-alt(aria-hidden="true")  Github
            //- Speakerdeckのリンク
            h3.archive__link
                a.archive__anchor(href="https://speakerdeck.com/undefined_name/javascript-2016-with-es6?slide=1", target="_blank")
                    i.fa.fa-external-link(aria-hidden="true")  Slide
            .slide
                script(async class="speakerdeck-embed" data-slide="1" data-id="3475027254364acaa2b2691726a1fc66" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js")
    include common/_footer.pug
    include common/_javascript.pug