doctype html
html(lang="ja")
include common/_head.pug
body
    .container-fluid
        h1 InHouseUse
        div
            a.btn.btn-default(href="#" role="button") link
    


    include common/_javascript.pug