doctype html
html(lang="ja")
include common/_head.pug
body
    
    section.top-page#js_top_page
        .container
            .logo
                .logo__image
                .logo__title InHouseUse
    section.page
        .container
            .logo__sub-title 社内勉強会用のランディングページ
        
    


    include common/_javascript.pug