doctype html
html(lang="ja")
include common/_html_head.pug
body
    include common/_header.pug
    include common/_nav.pug
    section#js_top-page.top-page.js_page
        .container
            .logo#js_logo
                .logo__image
                .logo__title InHouseUse
    section#js_second-page.page.js_page
        .container
            .logo__sub-title 社内勉強会用のランディングページ
            .box



    include common/_javascript.pug