#js_second-page.pink.lighten-5
    .container
        .row
            .col.s12.m6.l3
                .card
                    .card-image
                        img(src="app/assets/images/cap20161130.png")
                        span.card-title 2016/11/30
                        a.btn-floating.halfway-fab.btn-large.waves-effect.waves-light.red: i.material-icons open_in_browser
                    .card-content
                        p HTML5とは何か？HTML5でできることとは?またHTML5の勉強方法に関しての説明
                    