article.teal.lighten-2
    .container#vueapp
        .row
            .col.s12
                h3.ariticle-title.white-text=articleInfo.title 
            .col.s12
                h5.ariticle-date.white-text=articleInfo.date
