.landingpage.js-resize
    -
      var headerInfo = {
          color: "transparent",
          fix: false
      }
    include _header
    container.js-resize-contents.valign-wrapper
        .row
            .col.s12
                .logo.valign
                    h1.center-align.logo-main.fade_in_up
                        .logo-main__image
                        span.logo-main__title InHouseUse
                    h5.center-align.logo-sub__title.fade_in 社内勉強会用のポータルサイト
                    .center-align.logo-sub__arrow.arrow_down#js_nav
                        i.large.material-icons expand_more