.article-info {
    display: flex;
    align-items: baseline;
}

.ariticle-title {
    font-size: 36px;
    @include max-screen($breakpoint-mobile) {
        font-size: 24px;
    }
}
.ariticle-date {
    font-size: 18px;
}