// materializeのCSSを打ち消し
.header-nav {
    box-shadow: none;
}

.header__logo-image {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url($image_path + "/logo_w.png") no-repeat bottom left;
    background-size: cover;
}
.header__logo-title {
    font-size: 22px;
    @media screen and (max-width:767px) { 
        font-size: 18px;
    }
    margin-left: 2px;
    display: inline-block;
    font-family: 'Reem Kufi', sans-serif;
}