.loading-page {
    min-height: 800px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background:rgba(0,0,0,1.0);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // background: linear-gradient(-45deg, rgba(246, 255, 0, .9), rgba(255, 0, 161, .9));
}

.loading__icon {
    width: 60px;
    height: 60px;
    // background: #000;
	border: 5px solid rgba(255,255,255,0.4);
	border-top-color: rgba(255,255,255,1.0);
	border-radius: 50%;
}